.game-content {
  display: flex;
  width: 800px;
  height: 100%;
  flex: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  .chess-board-container {
    width: 300px;
    height: 100%;
    flex: auto;
    padding: 50px;
    overflow-y: auto;

    display: flex;
    justify-content: center;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .game-info-container {
    width: 300px;
    height: 100%;
    flex: none;
  }
}
