.chess-board-container {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background: #666;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.game-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}
