.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.game-info {
  width: 300px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #999;
}
.game-info .row {
  min-height: 40px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}

.chess-board-container {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background: #666;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.chess-board {
  background: #ccc;
  border-radius: 3px;
}

.intersection-point {
  position: absolute;
  background: #666;
  opacity: 0;
  cursor: pointer;
}

.intersection-point:hover {
  opacity: 1;
}

.chess-piece {
  box-shadow: 0 0 10px 1px #666;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.game-list {
  width: 200px;
  padding: 10px;
  background: #f2f2f2;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}

.game-content {
  width: 500px;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.game-list-item {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.game-list-item:hover {
  background: #ccc;
}

.game-list-item.active {
  background: #ccc;
}
